.review__header {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.review__name {
  margin-left: 21px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}
.review__date {
  padding-left: 10px;
  font-size: 11px;
  font-weight: normal;
  color: #ccc;
}

.review__message {
  position: relative;
  padding: 20px 20px;
  background: #f2fbff;
  border: 1px solid #cfcfcf;
  margin: 15px 21px;
}

.review__message:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #f2fbff transparent;
  display: block;
  width: 0;
  z-index: 1;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: -6px;
  left: 23px;
}

.review__message:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #cfcfcf transparent;
  display: block;
  width: 0;
  z-index: 0;
  top: -9px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  left: 22px;
}
